RewriteEngine on

RewriteRule ^home$ media.php?module=home [L]
RewriteRule ^profile\.html$ media.php?module=profile&id=$1 [L]
RewriteRule ^semua-data\.html$ media.php?module=semuadata&id=$1 [L]
RewriteRule ^perhitungan\.html$ media.php?module=perhitungan&id=$1 [L]
RewriteRule ^data-mining\.html$ media.php?module=datamining&id=$1 [L]
RewriteRule ^pohon-keputusan\.html$ media.php?module=pohonkeputusan&id=$1 [L]
RewriteRule ^hapus-pohon\.html$ media.php?module=hapuspohon&id=$1 [L]
RewriteRule ^hapus-perhitungan\.html$ media.php?module=hapusperhitungan&id=$1 [L]
RewriteRule ^input-data\.html$ media.php?module=inputdata&id=$1 [L]
RewriteRule ^simpan-data\.html$ media.php?module=simpandata&id=$1 [L]
RewriteRule ^edit-data-(.*)\.html$ media.php?module=editdata&id=$1 [L]
RewriteRule ^hapus-data-(.*)\.html$ media.php?module=hapusdata&id=$1 [L]
RewriteRule ^simpan-edit-data\.html$ media.php?module=simpanedit&id=$1 [L]
RewriteRule ^input-barang\.html$ media.php?module=inputbarang&id=$1 [L]
RewriteRule ^input-merek\.html$ media.php?module=inputmerek&id=$1 [L]
RewriteRule ^input-tahun\.html$ media.php?module=inputtahun&id=$1 [L]
RewriteRule ^simpan-atribut\.html$ media.php?module=simpanatribut&id=$1 [L]
RewriteRule ^hapus-data\.html$ media.php?module=hapusdata&id=$1 [L]
RewriteRule ^install-data\.html$ media.php?module=installdata&id=$1 [L]
RewriteRule ^proses-excel\.html$ media.php?module=prosesexcel&id=$1 [L]
RewriteRule ^jenis-(.*)\.html$ media.php?module=inputdataa&jenis=$1 [L]
RewriteRule ^jeniss-(.*)-merek-(.*)\.html$ media.php?module=inputdataaa&jenis=$1&merek=$2 [L]
Options All -Indexes
